<!DOCTYPE html>

{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Odzuna{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS externe -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    {% include 'includes/header.html' %}
    {% include 'includes/nav.html' %}

    <main>
        {% block content %}
        <!-- Contenu de chaque page -->
        {% endblock %}
    </main>

    {% include 'includes/newsletter.html' %}
    {% include 'includes/footer.html' %}

    <!-- JS externe -->
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
